#gallery {
  display: flex;
  margin: 0;
  padding: 0;
}

.galleryItem {
  margin: 0;
  padding: 0;
  list-style: none;
}

.galleryItem:not(:last-child) {
  margin-right: 30px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

#boxes {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
#boxes > div:not(:last-child) {
  margin-right: 10px;
}
